{%- comment -%}
Den of Wolves 2026 - Call to Action / Ticket Link
Update ticket price, URL, and message here
{%- endcomment -%}

{%- assign ticket_price = "50" -%}
{%- assign ticket_url = "https://app.tickettailor.com/events/prairiefiregaming/2006278" -%}
{%- assign ticket_message = "Registration opens January 15th, 2026" -%}

<a href="{{ ticket_url }}" class="callout cta" data-label="Get Tickets">
	<strong>Tickets are ${{ ticket_price }}</strong>
 
	{%- if ticket_message -%}
	<br>{{ ticket_message }}
	{%- endif -%}
</a>
