{%- comment -%}
Den of Wolves 2026 - Call to Action / Ticket Link
Update ticket price, URL, and message here
{%- endcomment -%}

{%- assign ticket_price = "40" -%}
{%- assign ticket_url = "https://www.eventbrite.com" -%}
{%- assign ticket_message = "Act now! Early access pricing ends at midnight on Monday, January 19th, 2026" -%}

<a href="{{ ticket_url }}" class="callout cta" data-label="Register Now">
	<strong>Only ${{ ticket_price }}</strong> and available right now!
 
	{%- if ticket_message -%}
	<br>{{ ticket_message }}
	{%- endif -%}
</a>
