{%- comment -%}
Den of Wolves 2026 - Call to Action / Ticket Link
Update ticket price, URL, and message here
{%- endcomment -%}

{%- assign ticket_price = "40" -%}
{%- assign ticket_url = "https://app.tickettailor.com/events/prairiefiregaming/2006278" -%}
{%- assign ticket_message = "We fully expect to sell out quickly, so don't wait!" -%}

<a href="{{ ticket_url }}" class="callout cta" data-label="Get Tickets">
	<strong>EARLY BIRD TICKETS are on sale now!</strong>
 
	{%- if ticket_message -%}
	<br>{{ ticket_message }}
	{%- endif -%}
</a>
