/*
 * Page styles
 */

.page-hero {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	min-height: 400px;
	background-size: cover;
	background-position: center;
	position: relative;

	@media screen and (min-width: 800px) {
		min-height: 500px;
	}
}

.page-hero-overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
}

.page-header {
	margin-top: calc(var(--spacing-unit) * 2);
}

.page-title {
	margin-bottom: 1em;
}

.page-content {
	margin-bottom: calc(var(--spacing-unit) * 2);
}
