/*
 * Post page styles
 */

article {
	margin: calc(var(--spacing-unit) * 2) 0;
}

// Remove margins from articles within page-content (e.g., events list)
.page-content article {
	margin: 0;
}

.post-hero {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	min-height: 60vmin;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-top: calc(-1 * var(--spacing-unit) * 2);
	margin-bottom: calc(var(--spacing-unit) * 2);

	// @media screen and (min-width: 1200px) {
	// 	min-height: 80vmin;
	// }

	// @media screen and (min-width: 1500px) {
	// 	min-height: 100vmin;
	// }
}

// .post-hero-overlay {
// 	position: absolute;
// 	inset: 0;
// 	background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
// }

// Images within post content
.post-content img {
	width: 100%;
	height: auto;
	display: block;

	border-radius: calc(var(--spacing-unit) / 2);

	// Gentle manual tweaking because of the interplay
	// of line heights and the gaps between paragraphs
	margin: 0.25em 0;
}
