/*
 * Post page styles
 */

.post-hero {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	min-height: 60vmin;
	background-size: cover;
	background-position: center;
	position: relative;

	// @media screen and (min-width: 1200px) {
	// 	min-height: 80vmin;
	// }

	// @media screen and (min-width: 1500px) {
	// 	min-height: 100vmin;
	// }
}

.post-hero-overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
}
