<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body class="home">

		{%- include header.html -%}

		<main class="layout-area--content" aria-label="Content">

		<a href="{{ '/megagames/den-of-wolves/' | relative_url }}" class="hero">
			<div class="hero-content">
				<img src="{{ '/assets/prairiefiregaming-hero.svg' | relative_url }}" alt="{{ site.title | escape }}" class="hero-logo">
				<p class="hero-tagline">Den of Wolves: Infinite Domain — March 7, 2026</p>
			</div>
		</a>			{%- comment -%} HOME CONTENT {%- endcomment -%}
			<div class="content-wrapper">
				{{ content }}
			</div>

			<!-- {%- comment -%} POSTS GRID {%- endcomment -%}
			{% if site.posts.size > 0 %}
			<section class="posts-grid">
				{% for post in site.posts limit:5 %}
				<a href="{{ post.url | relative_url }}" class="post-card{% if post.image %} has-image{% endif %}"{% if post.image %} style="background-image: url('{{ post.image }}')"{% endif %}>
					<div class="post-card-content">
						<h2>{{ post.title }}</h2>
					</div>
				</a>
				{% endfor %}
			</section>
			{% endif %} -->

		</main>

		{%- include footer.html -%}

	</body>

</html>