---
layout: base
---
<article class="page{% if page.image %} page--with-hero{% endif %}" itemscope itemtype="http://schema.org/WebPage">

	{%- comment -%} Hero image if present {%- endcomment -%}
	{%- if page.image -%}
	<div class="page-hero" style="background-image: url('{{ page.image }}')">
		<div class="page-hero-overlay"></div>
	</div>
	{%- endif -%}

	{%- comment -%} Page header {%- endcomment -%}
	<header class="page-header content-wrapper">
		<h1 class="page-title" itemprop="headline">{{ page.title | escape }}</h1>
	</header>

	{%- comment -%} Page content {%- endcomment -%}
	<div class="page-content content-wrapper" itemprop="mainContentOfPage">
		{{ content | responsive_tables }}
	</div>

</article>
